* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1596347909571-2f249cfdbb0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
header {
	height: 100px;
	background: #201f18cc;
}

ul {
	width: auto;
	float: right;
	margin: 35px;
	padding-bottom: 15px;
}
li {
	display: inline-block;
	letter-spacing: 2px;
	padding-right: 35px;
	transition: 0.5s;
}
a {
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	text-align: center;
}
a:hover {
	color: #f0c33a;
}
h1 {
	position: absolute;
	float: left;
	text-align: center;
	margin-left: 20px;
	margin-top: 25px;
	font-family: cursive;
	border: 2px solid #fff;
	letter-spacing: 2px;
	text-align: center;
	width: 150px;
	font-size: 30px;
	color: #fff;
}
button {
	text-align: center;
	display: block;
	text-transform: uppercase;
	position: absolute;
	margin-bottom: 15px;
	top: 60%;
	font-weight: 600;
	outline: none;
	height: 50px;
	border-radius: 50px;
	width: 150px;
	left: 50%;
	cursor: pointer;
	transform: translate(-50%, -50%);
}
p {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-transform: inherit;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 2px;
}
footer {
	position: absolute;
	top: 50%;
	color: #fff;
	left: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
li:hover {
	transform: translateX(-5px);
}
