* {
	margin: 0;
	padding: 0;
}

body {
	background: #3b1d57;
	font-family: "Courier New", Courier, monospace;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	width: 280px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.container1 {
	width: 100%;
	height: 80px;
	background: #229bec;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.container2 {
	width: 100%;
	height: 260px;
	background: #edeaea;
	position: relative;
	text-align: center;
	border-top: 1px solid #b3b3b3;
}

.container2 img {
	width: 85px;
	height: 85px;
	position: absolute;
	border-radius: 50%;
	top: -45px;
	left: 100px;
	border: 3px solid #fff;
}

.container2 h2 {
	padding-top: 60px;
	color: #f02a86;
	font-weight: 900;
}

.container2 span {
	font-size: 16px;
	color: #e63946;
}

.container p {
	padding: 12px 20px 0px;
	font-size: 14px;
	color: #14151e;
}
