* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
a {
	position: relative;
	text-decoration: none;
	padding: 20px 50px;
	color: #e6e9e3;
	overflow: hidden;
	border: 5px double #0b1c52;
}
a::before{
	content: "";
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	border-bottom: 2px dotted #b3da26;  /*Left side button*/
	border-left: 2px dotted #b3da26; /*Left side top*/
}
a::after{
	content: "";
	position: absolute;
	top: 2px;
	right: 2px;
	width: 10px;
	height: 10px;
	border-top: 2px dotted #39b819;
	border-right: 2px dotted #72b31d;
}
a:hover {
	background-color: #2a80b3;
	box-shadow: 0px 0px 30px #2a80b3;
	color: black;
	transition: all 0.3s ease-in-out 0.3s;
}
a:hover::before,
{
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}
a:hover {
	color: white;
	font-size: 30px;
	color: background: rgb(143,150,143);
}
