* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
}

img {
	display: block;
	width: 80px;
	margin: 30px auto;
	box-shadow: 0 5px 10px -7px #333333;
	border-radius: 50%;
}

.form {
	background-color: #ffffff;
	width: 500px;
	margin: 50px auto 10px auto;
	padding: 30px;
	border-radius: 8px;
	justify-content: center;
	overflow: hidden;
	box-shadow: 0 2px 10px -3px #333;
	text-align: center;
}

input {
	border-radius: 100px;
	padding: 10px 15px;
	width: 50%;
	border: 1px solid #d9d9d9;
	outline: none;
	display: block;
	margin: 20px auto 20px auto;
}

button {
	border-radius: 100px;
	border: none;
	background: #719be6;
	width: 50%;
	padding: 10px;
	color: #ffffff;
	margin-top: 25px;
	box-shadow: 0 2px 10px -3px #719be6;
	display: block;
	margin: 55px auto 10px auto;
}
button:hover {
	background: green;
}
