*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1572899517400-67c070db851e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    height: 100px;
    background-color: #111000;
}
h1{
    position: absolute;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    font-family: cursive;
    color: rgba(255, 123, 0, 0.938);
    font-size: 40px;
    letter-spacing: -2px;
}

span{
    color: #ffffff;
    letter-spacing: 2px;
}

ul{
    width:auto;
    float: right;
    margin: 35px;
   /* padding-bottom: 15px; */
}
li{
    display: inline-block; /* NevBar lae autai line ma lagxa */
    letter-spacing: 2px;
    padding-right: 35px;
    transition: 0.5s;
}
li:hover{
    /* box-shadow: inset 150px 0 0 0 #f0c330; */
    transform: translateY(-5px);
}
a{
    text-align: center;
    color: #ffffff;
    text-decoration:none ; /* Anchor ko default styling remove garna */
    font-family: 'open sans', sans-serif;
    font-size: 1.5rem;
}
a:hover{
    color: #f0c330;
}