*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
height: 100vh;
background-size: cover;
box-sizing: border-box;
background-position: center;
font-family: sans-serif;
background-image: url(https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&w=1000&q=80);
}
.menu-bar{
    background: rgb(0, 100, 0);
    text-align: center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color:aqua;
}
.menu-bar ul li{
    width: 220px;
    margin: 15px;
    padding: 10px;
    letter-spacing: 2px;

}
.menu-bar ul li a{
    text-decoration: none;
    color :white;
}
.active, .menu-bar ul li:hover
{
background:#2bab0d;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1
{
    display:block;
    margin: 10px;

}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}



